# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
env/
venv/
ENV/
ENV*/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Test and coverage reports
.coverage
nosetests.xml
coverage.xml
*.cover
*.log

# Pytest
.cache/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs and Editors
.idea/
.vscode/
*.swp
*~
*.sublime-project
*.sublime-workspace

# MacOS files
.DS_Store

# Other files
*.pot
*.pyc
*.pyo